@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  font-family: Roboto, sans-serif;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

nav {
  height: 8vh;
}

main .content {
  flex-grow: 1;
}

aside .icon {
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 2em;
  cursor: pointer;
}

aside .icon:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

aside ion-icon {
  font-size: 2em;
}

aside .icon p {
  margin: 0;
}

aside .icon:not(:first-of-type) {
  height: 16vh;
}

nav {
  display: flex;
  align-items: center;
}

nav ion-icon {
  font-size: 2em;
}

nav img {
  height: 50%;
}

nav .search {
  width: 40%;
}

nav .search-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  height: 50%;
  flex-grow: 1;
  margin-right: 3ch;
}

nav .search-wrapper input {
  border: none;
  outline: none;
  padding: 0px 1ch;
  font-size: 1.3em;
}

nav .search-wrapper button {
  border: none;
  padding: 0.25em 3ch;
}

nav .search {
  margin: 0px auto;
  display: flex;
  align-items: center;
}

nav .icons-wrapper ion-icon {
  margin-left: 1.5ch;
}

nav .icons-wrapper ion-icon:last-of-type {
  margin-right: 1.5ch;
}

content {
  display: flex;
  flex-wrap: wrap;
}

content .card {
  display: flex;
  flex-direction: column;
  width: 33%;
}

content .card .img {
  width: 100%;
}
